* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(
    279deg,
    #279cd8,
    #2c4fb1,
    #2848a7,
    #090955
    ); */
    height: 100vh;
    background: #279cd8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contaienr {

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.nav_btn {
    position: relative;
    overflow: hidden;
    color: #279cd8;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: 20px;
    /* overflow: hidden; */
}

.nav_btn::before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: #fff;
    /* border: #272727 solid 4px; */
    z-index: -1;
}

.nav_btn::after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #ff652f;
    transform: rotate(-90deg) translate(-50%, 100%);
    /* border: #272727 solid 4px; */
    transform-origin: top left;
    transition: .4s ease;
    z-index: -2;
}

.nav_btn:hover::after {
    transform: rotate(0) translate(0, 0);
}



/* 
.nav_btn {
    text-decoration: none;
    position: relative;
    font-size: 30px;
    color: #279cd8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* z-index: 999; 
    padding: 10px 20px;
    transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.nav_btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: -1;
    /* transform:rotate(-90deg); */
    /* transform: rotate(90deg) translate(-25px, 60px); 
}
/* 
.nav_btn:hover::before {
    transform: rotate(0deg) translate(0px, 0px);
} 

.nav_btn::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ff652f;
    z-index: -2;
} */
